<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <% include ../partials/navbar %>

        <div class="container">
            <h1>A Listing of Settings Would Go Here</h1>
        </div>

        <% include ../partials/scripts %>
</body>

</html>